@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Marquee Animation */
@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

